@CHARSET "UTF-8";
.re-container{
	width:40vw;
	height:38vw;
	font-size:1.5vw;
}
.re-container img{
	width:100%;
	height:36%;
}
.re-table{
	width:100%;
	margin-top:5vh;
}
.re-table td{
	width:10%;
	height:2vw;
	font-size:1vw;
	color:#9C9C9C;
}