@CHARSET "UTF-8";
*{
	color:#333333;
}
.table{
	
	background-color:#CCDDFF;
	align:center;
	border:1px solid #666666;
	font-size:1.5vw;
	margin: auto;
}
.td{
	width:8vw;
	height:3vw;
	text-align:center;
	border:1px solid #666666;
}

.button {
    display: inline-block;
    position: relative;
    margin: 10px;
    padding: 0 20px;
    text-align: center;
    background-color: #CCDDFF;
    text-decoration: none;
    font: bold 12px/25px Arial, sans-serif;
	
    text-shadow: 1px 1px 1px rgba(255,255,255, .22);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;

    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);

    -webkit-transition: all 0.15s ease;  
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;
}</pre>

.bt {
    display: inline-block;
    position: relative;
    margin: 10px;
    padding: 0 20px;
    text-align: center;
    background-color: #FF77FF;
    text-decoration: none;
    font: bold 12px/25px Arial, sans-serif;
	
    text-shadow: 1px 1px 1px rgba(255,255,255, .22);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;

    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
    box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);

    -webkit-transition: all 0.15s ease;  
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;
}</pre>

.button4 {
        background-color:#FF77FF;
        border-right:#2c59aa 2px solid;
		border-bottom:#2c59aa 2px solid;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.5vw;
	    font-weight:bold;
        margin: auto;
        cursor: pointer;
		width:27vw;
	    height:5vw;
        }
		
		
.button2 {
        background-color: #CCEEFF;
        border-right:#99BBFF 2px solid;
		border-bottom:#99BBFF 2px solid;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;	
        font-size: 1.5vw;
		font-weight:bold;
        margin: auto;
        cursor: pointer;
		width:27vw;
	    height:5vw;
        }
		
		
.button3{
	    background-color: #00caca;
       border-right:#00AAAA 2px solid;
		border-bottom:#00AAAA 2px solid;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.5vw;
		font-weight:bold;
        margin: auto;
        cursor: pointer;
		width:27vw;
	    height:5vw;
        }
		